.main-container {
    display: flex;
    margin-top: 100px;
    background-color: #95aadf;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px
    ;
}

.button {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.image{
    margin-left: 50px;
    max-width: 750px;
    height: 450px;
}

.data{
    margin-right: 50px;
}