.products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    margin: 60px;

}

 .product-item{
    width: 30%;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
 }